{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<div class="dashboard-container">

  <section class="create-poll">
  <h1>Dashboard</h1>

  <p>This is the dashboard, welcome {{ username }}!</p>
  <h2>Post-a-Poll</h2>

  <form action="{{ url_for('create_poll') }}" method="post">
    <input type="text" name="question" placeholder="Poll question" required class="input-field">
    <input type="text" name="option_a" placeholder="Option A" required class="input-field">
    <input type="text" name="option_b" placeholder="Option B" required class="input-field">
    <button type="submit" class="button-50">Create Poll</button>
  </form>
</section>


  
<section class="poll-lists">

<h2>All Polls</h2>

<div id="poll-feed">
    {% set chunk = polls %}
    {% include "poll_chunk.html" %}
</div>

</section>


  <a href="{{ url_for('logout') }}" class="button-50">Logout</a>
</div>
{% endblock %}


